.cart__empty_purchase {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  position: relative;
}

.cart__purchase_button {
  position: absolute;
  top: 10px; /* Розташовуємо кнопку зверху від контейнера */
  right: 10px; /* Розташовуємо кнопку праворуч від контейнера */
  margin: 20px;
  padding: 0.7em 1.7em;
  font-weight: bold;
  height: auto;
  font-size: 1.2rem;
  text-align: center;
  transition: 0.5s;
  background-color: #7041c7;
  border-radius: 10px;
  background-position: right bottom;
  color: #c0f546;
}

