.cart__empty_purchase {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  position: relative;
}

.cart__purchase_button {
  position: absolute;
  top: 10px; /* Розташовуємо кнопку зверху від контейнера */
  right: 10px; /* Розташовуємо кнопку праворуч від контейнера */
  margin: 20px;
  padding: 0.7em 1.7em;
  font-weight: bold;
  height: 35px;
  font-size: 15px;
  transition: 0.5s;
  background-color: #7041c7;
  border-radius: 10px;
  background-position: right bottom;
  color: #c0f546;
}

.cart__purchase_button:hover {
  color: white;
  box-shadow: 0 0 10px #461d94;
}

.cart__purchase_button:disabled {
  color: white;
  background-color: #bebebe;
  box-shadow: none;
}
