.authorization__container {
  margin: 0px auto;
  padding: 1rem;
  display: flex;
  background-image: linear-gradient(to right, #ccf46f 0%, #9be086 51%);
  align-items: center;
}

.headerActions__container {
  display: flex;
  align-items: center;
}

.authorization {
  flex: 1 1 50%;
}

.main-header {
  text-decoration: none;
  font-weight: bold;
  color: #7041c7;
  font-size: 2rem;
  text-shadow: 1px 1px 2px #090215;
  padding: 1rem;
}

.main-header__icon {
  width: 2rem;
}

.headerActions__cart {
  width: 2rem;
  margin-right: 10px;
  background: transparent;
}

.headerActions__heart {
  width: 2.7rem;
}

.headerActions__button {
  margin-right: 10px;
  padding: 0.4em 1.7em;
  font-size: 1rem;
  font-weight: bold;
  background-color: #7041c7;
  transition: 0.5s;
  border-radius: 10px;
  color: #c0f546;
  text-align: center;
  height: auto;
}

.headerActions__button:hover {
  color: white;
  box-shadow: 0 0 10px #461d94;
}

.headerActions__avatar {
  width: 2rem;
  margin-right: 10px;
}

.headerActions__user {
  font-weight: bold;
  color: #7041c7;
}
