.authorization__container {
  margin: 0px auto;
  border: 1px solid #c41111;
  padding: 1rem;
  display: flex; /* headerActions items in right side */
  background-image: linear-gradient(to right, #ccf46f 0%, #9be086 51%);
  align-items: center;
}

.headerActions__container {
  display: flex; /* align headerActions items in line */
  align-items: center;
}

.authorization {
  flex: 1 1 50%;
}

.main-header {
  text-decoration: none;
  font-weight: bold;
  color: #7a3ccb;
  font-size: 2rem;
  text-shadow: 1px 1px 2px #090215;
  padding: 1rem;
}

.main-header__icon {
  width: 2rem;
}

.headerActions__cart {
  width: 40px;
  margin-right: 10px;
  background: transparent;
}

.headerActions__button {
  margin-right: 10px; /*відстань між items headerActions*/
  padding: 0.7em 1.7em;
  height: 35px;
  font-size: 1.2rem;
  font-weight: bold;
  background-color: #7041c7;
  transition: 0.5s;
  border-radius: 10px;
  color: #c0f546;
  text-align: center;
  height: auto;
}

.headerActions__button:hover {
  color: white;
  box-shadow: 0 0 10px #461d94;
}

.headerActions__avatar {
  margin-right: 10px;
}

.headerActions__user {
  font-weight: bold;
}
