.authorization__container {
  margin: 0px auto;
  border: 1px solid #c41111;
  padding: 25px 10px 25px 10px;
  display: flex; /* headerActions items in right side */
}

.headerActions__container {
  display: flex; /* align headerActions items in line */
  align-items: center;
}

.authorization {
  flex: 1 1 50%;
}

.main-header {
  text-decoration: none;
  font-weight: bold;
  color: black;
  font-size: 20px;
}

.headerActions__cart {
  width: 40px;
  margin-right: 10px;
  background: transparent;
}

.headerActions__button {
  margin-right: 10px; /*відстань між items headerActions*/
  padding: 10px 20px;
  height: 40px;
  font-weight: bold;
  transition: 0.5s;
  background-size: 200%;
  background-image: linear-gradient(
    to right,
    #c0f546 0%,
    #72d654 51%,
    #9d81c2 100%
  );
  /* background-color: rgb(144, 247, 10); */
  border-radius: 10px;
  box-shadow: 0 0 10px #461d94;
  background-position: right bottom;
  color: #250958;
}

.headerActions__button:hover {
  color: white;
  background-position: left center;
}

.headerActions__avatar {
  margin-right: 10px;
}

.headerActions__user {
  font-weight: bold;
}
