.cart__image {
  width: 250px;
}

.cart__empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.4em;
  color: #250958;
  font-weight: bold;
}

