.purchase__table-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.purchase__table table {
  border-collapse: collapse;
}

.purchase__table th,
.purchase__table td {
  /* border-collapse: collapse; */
  border: 1px solid #000;
  padding: 8px;
}

.purchase__table td:nth-child(1) {
  width: 500px;
}

.purchase__delete-button {
  /* padding: 2px; */
  border: none;
}

.purchase__delete-button:hover {
  color: #250958;
  transform: scale(1.3);
}
