.purchase__table-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.purchase__table table {
  border-collapse: collapse;
}

.purchase__table tbody tr:hover {
  background-color: #e2f9ac;
}

.purchase__table th {
  background-image: linear-gradient(to right, #ccf46f 0%, #9be086 51%);
}

.purchase__table th,
.purchase__table td {
  border: 1px solid #ccc6c6;
  padding: 0.7em;
}

.purchase__table td:nth-child(1) {
  width: 500px;
}

.purchase__delete-button {
  border: none;
}

.purchase__delete-button:hover {
  color: #250958;
  transform: scale(1.3);
}

.purchase__grand-total {
  font-weight: bold;
}


