/* Спочатку очищаємо всі відступи і межі 
* - звертаємось до абсолютно всіх тегів на сторінці */
* {
  padding: 0;
  margin: 0;
  border: 0;
}

/* Наступне – змінює підрахунок ширини блоку так, щоб так було зручніше верстати  */
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* Наступне – прибираємо лінії обведення в деяких браузерах  */
:focus,
:active {
  outline: none;
}
a:focus,
:active {
  outline: none;
}
/* Далі переховуємо деякі теги і робимо їх блочними */
nav,
footer,
header,
aside {
  display: block;
}
/* Далі звертаємось до html та body і застосуємо їм параметри, які зрівнюють поведінку шрифтів і елементів для різних браузерів, в тому числі забороняють самовільне збільшення шрифта на iphone н-д. ms -  -moz это для браузеров mozilla, а -o для опера, браузер MicroSoft (IE / edge), а webkit - если вкратце, то Safari (браузер на MacOS) + большинство браузеров на мобилках */
html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

/* Далі звертаємось до тег форм і просимо їх наслідувати сімейство шрифта, бо за замовчуванням вони не наслідують його */
input,
button,
textarea {
  font-family: inherit;
}

/* Далі ще кілька параметрів для кількох тегів, які прибирають певні особливості в певних браузерах – н-д, прибирають хрестик в інпутах в Internet Explorer, прибирають зайві відступи в Firefox для кнопок, чистяться стилі маркованих списків */
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
/* В кінці обнуляємо всі наші заголовки h */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}
/*-------------------------  */

@media (max-width: 1200px) {
  .container {
    max-width: 970px;
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 750px;
  }
}
@media (max-width: 767px) {
  .container {
    max-width: none;
  }
}
/*=============================== */
body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.search_select__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.search__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  margin: 10px;
}

.search__form {
  color: #610f91;
  display: flex;
  padding: 2px;
  border: 1px solid black;
  border-radius: 10px;
  width: 250px;
  height: auto;
}

.search__input[type="search"] {
  border: none;
  background: transparent;
  margin: 0;
  padding: 7px 8px;
  font-size: 14px;
  color: inherit;
  border: 1px solid transparent;
  border-radius: inherit;
  font-size: 15px;
}

.search__input[type="search"]::placeholder {
  color: #9880af;
}

.search__button[type="button"] {
  text-indent: -999px;
  overflow: hidden;
  width: 40px;
  padding: 0;
  margin: 0;
  border: 1px solid transparent;
  border-radius: inherit;
  background: transparent
    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E")
    no-repeat center;
  cursor: pointer;
  opacity: 0.7;
}

.search__button[type="button"]:focus,
.search__input[type="search"]:focus {
  box-shadow: 0 0 3px 0 #5c23c5;
  border-color: #4106ad;
  outline: none;
}

.select__container {
  border: 1px solid #000;
  width: 170px;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 10px;
  border-radius: 10px;
  height: 38px;
  overflow: hidden;
  justify-content: center;
}

.select__container select {
  color: #481088;
  font-size: 15px;
  font-weight: bold;
}

.books__container {
  /* sticky footer */
  /*  https://www.youtube.com/watch?v=pggIVY5eOGM*/
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.books__cards {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  flex-grow: 1;
  justify-content: space-between;
  width: 75%;
  text-align: center;
  align-items: flex-start;
  /* border: 1px solid red; */
  /* To center the element horizontally */
  margin-left: auto;
  margin-right: auto;
  color: #250958;
}

.book {
  width: calc(75% / 3);
  text-align: center;
  border: 2px solid #c0f546;
  border-radius: 10px;
  margin: 15px;
  max-width: 100%;
}

.book__image,
.image__not_found {
  max-width: 100%;
  max-height: 100%;
  padding: 5px;
}

.book_short-info {
  font-size: 0.9vw; /* resize text  depend on screen width*/
}

.book__price_view {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.book__price {
  padding: 5px 5px;
  color: #250958;
  font-weight: bold;
}

.book__button {
  margin: 10px;
  padding: 0.7em 1.7em;
  height: auto;
  font-size: 0.9em; /*resize button on screen width */
  text-align: center;
  font-weight: bold;
  background-color: #7041c7;
  transition: 0.5s;
  border-radius: 10px;
  color: #c0f546;
}

.book__button:hover {
  color: white;
  box-shadow: 0 0 10px #461d94;
}
